{% extends 'littleStar/base.html' %}{% load static %} {% block body_block %}
<div class="container">
   <div class="col-lg-12">
      <div class="row kidPersonalDetails">
         <div class="col-lg-2">
            <p class="titles">
               <strong>UID:</strong>
            </p>
            <p class="uidDisplay" id="uidDisplay">{{kidUID.childuid}}</p>
         </div>
         <div class="col-lg-2">
            <p class="titles">
               <strong>Name:</strong>
            </p>
            <p> {{kidUID.childname}}</p>
         </div>
         <div class="col-lg-2">
            <p class="titles">
               <strong>Date of Birth:</strong>
            </p>
            <p>{{kidUID.dob}}</p>
            <p class="titles">
                  <strong>Age:</strong>
               </p>
               <p class="convertedAge">{{kidUID.age}}</p>
         </div>
         <div class="col-lg-2">
            <p class="titles">
               <strong>Father's Name:</strong>
            </p>
            <p>{{kidUID.fathername}}</p>
         </div>
         <div class="col-lg-2">
            <p class="titles">
               <strong>Mother's Name:</strong>
            </p>
            <p>{{kidUID.mothername}}</p>
         </div>
         <div class="col-lg-2">
            <p class="titles">
               <strong>Sex:</strong>
            </p>
            <p>{{kidUID.sex}}</p>
         </div>
      </div>
   </div>
   <form enctype="multipart/form-data" class="" method="POST" action="{% url 'littleStar:anthropometry' %}"
   novalidate id="anthropometryForm">
   {% csrf_token %}
   <div class="col-lg-12">
      <div class="row kidDetailsForms">
         <p class="loginHeader">Anthropometry</p>
         <div class="anthromentryFromToBeShown">
            <div class="col-lg-6">
               <div class="bmiHolder">
                  <p class="bmiTitle">
                     <strong>BMI:</strong>
                  </p><br>
                  <p id="calculatedBMI">0</p>
               </div>
               <div class="bmiHolder">
                  <p class="bmiTitle">
                     <strong>BSA:</strong>
                  </p><br>
                  <p id="calculatedBSA">0</p>
               </div>
            </div>
           
               <div class="col-lg-6">
                     <div class="row">
                  <div class="input-field">
                     <label for="id_HEIGHT">HEIGHT:</label>
                     <input type="number" name="height" required="" value="{{anthropometry_form.height}}"
                        id="id_HEIGHT"> 
                  </div>
               </div>
               <div class="row">
                  <div class="input-field">
                     <label for="id_WEIGHT">WEIGHT:</label>
                     <input type="number" name="weight" required="" id="id_WEIGHT" value="{{anthropometry_form.weight}}"> 
                  </div>
               </div>
               <div class="row">
                  <div class="input-field">
                     <label for="id_HEAD_CIRCUMFERENCE">HEAD CIRCUMFERENCE:</label>
                     <input type="number" name="headcircumference" required="" id="id_HEAD_CIRCUMFERENCE"
                        value="{{anthropometry_form.headcircumference}}"> 
                  </div>
               </div>
               <div class="row">
                  <div class="input-field">
                     <label for="id_MID_UPPER_ARM_CIRCUMFERENCE">MID UPPER ARM CIRCUMFERENCE:</label>
                     <input type="number" name="midupperarmcircumference" required=""
                        value="{{anthropometry_form.midupperarmcircumference}}" id="id_MID_UPPER_ARM_CIRCUMFERENCE"> 
                  </div>
               </div>
               <div class="row">
                  <div class="input-field">
                     <label for="id_TRICEP_SKIN_FOLDNESS">TRICEP SKIN FOLDNESS:</label>
                     <input type="number" name="tricepskinfoldness" required="" id="id_TRICEP_SKIN_FOLDNESS"
                        value={{anthropometry_form.tricepskinfoldness}}> 
                  </div>
               </div>
               <div class="row" style="display: none;">
                  <div class="input-field">
                     <label for="id_BMI">BMI:</label>
                     <input type="text" name="bmi" required="" id="id_BMI" maxlength="245" value="{{anthropometry_form.bmi}}"> 
                  </div>
               </div>
               <div class="row" style="display: none;">
                  <div class="input-field">
                     <label for="id_BSA">BSA:</label>
                     <input type="text" name="bsa" required="" id="id_BSA" maxlength="245" value={{anthropometry_form.bsa}}> 
                  </div>
               </div>
               <div class="row" style="display: none;">
                  <div class="input-field">
                     <label for="id_YEAR">YEAR:</label>
                     <input type="text" name="year" required="" id="id_YEAR" maxlength="245" value={{anthropometry_form.year}}> 
                  </div>
               </div>
               <div class="row" style="display: none;">
                  <div class="input-field">
                     <label for="id_kidUid">KidUid:</label>
                     <input type="text" name="kiduid" required="" id="id_kidUid" maxlength="245" value={{anthropometry_form.kiduid}}> 
                  </div> 
               </div>
               </div>
              
         </div>
      </div>
   </div>
   <div class="col-lg-12">
      <div class="row kidDetailsForms">
         <p class="loginHeader">Vitals</p>
        
         <div class="col-lg-6">
            <div class="row">
               <div class="input-field">
                  <label for="id_heartrate">Heart Rate:</label>
                  <input type="number" name="heartrate" required="" id="id_heartrate"
                     value=''> 
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <label for="id_temparature">Temparature:</label>
                  <input type="number" name="temparature" required="" id="id_temparature"
                     value=''> 
               </div>
            </div>
            <div class="row">
                        <div class="input-field">
                           <label for="id_respiratoryrate">Respiratoy Rate:</label>
                           <input type="number" name="respiratoryrate" required="" id="id_respiratoryrate"
                              value=''> 
                        </div>
                     </div>
            <div class="row">
               <div class="input-field">
                  <label for="id_saturation">Saturation:</label>
                  <input type="number" name="saturation" required="" id="id_saturation"
                     value=''> 
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <label for="id_bloodpressure1">Blood Pressure1:</label>
                  <input type="text" name="bloodpressure1" required="" id="id_bloodpressure1"
                     value=''> 
               </div>
            </div>
            <div class="row">
                  <div class="input-field">
                     <label for="id_bloodpressure2">Blood Pressure2:</label>
                     <input type="text" name="bloodpressure2" required="" id="id_bloodpressure2"
                        value=''> 
                  </div>
               </div>
               <div class="row">
                  <div class="input-field">
                     <label for="id_bloodpressure3">Blood Pressure3:</label>
                     <input type="text" name="bloodpressure3" required="" id="id_bloodpressure3"
                        value=''> 
                  </div>
               </div>
               <div class="row">
                  <button type="button"  id="calculateBp" class="btn btn-warning">Take BP average</button>
                  
               </div>
            <div class="row" style="display: none;">
               <div class="input-field">
                  <label for="id_systolic">Systolic:</label>
                  <input type="number" name="systolic" required="" id="id_systolic"
                     value=''> 
               </div>
            </div>
            <div class="row" style="display: none;">
               <div class="input-field">
                  <label for="id_diastolic">Diastolic:</label>
                  <input type="number" name="diastolic" required="" id="id_diastolic"
                     value=''> 
               </div>
            </div>
            <div class="row" style="display: none;">
                        <div class="input-field">
                           <input type="" name="sign" required="" id="anthroSign"
                              value=''> 
                        </div>
                     </div>
         </div>
         <div class="col-lg-6">
            <div class="bmiHolder">
               <p class="bmiTitle">
                  <strong>Systolic:</strong>
               </p><br>
               <p id="calculatedSystolic">0</p>
            </div>
            <div class="bmiHolder">
               <p class="bmiTitle">
                  <strong>Diastolic:</strong>
               </p><br>
               <p id="calculatedDiastolic">0</p>
            </div>
         </div>
      </div>
   </div>
   <button type="submit" name="" class="loginSubmit">Create </button>
</form>
</div>
{% endblock %}