{% extends 'littleStar/base.html' %}{% load static %} {% block body_block %}
<div class="container">
<div class="col-lg-12">
        <div class="row kidPersonalDetails">
                <div class="col-lg-1"></div>
                 <div class="col-lg-2">
                    <p class="titles">
                       <strong>UID:</strong>
                    </p>
                    <p class="uidDisplay" id="uidDisplay">{{kidUID.childuid}}</p>
                 </div>
                 <div class="col-lg-2">
                    <p class="titles">
                       <strong>Name:</strong>
                    </p>
                    <p> {{kidUID.childname}}</p>
                 </div>
                 <div class="col-lg-2">
                    <p class="titles">
                       <strong>Date of Birth:</strong>
                    </p>
                    <p>{{kidUID.dob}}</p>
                 </div>
                 <div class="col-lg-2">
                    <p class="titles">
                       <strong>Father's Name:</strong>
                    </p>
                    <p>{{kidUID.fathername}}</p>
                 </div>
                 <div class="col-lg-2">
                    <p class="titles">
                       <strong>Mother's Name:</strong>
                    </p>
                    <p>{{kidUID.mothername}}</p>
                 </div>
                 <div class="col-lg-1"></div>
              </div>
</div>
   <div class="col-lg-12">
      <div class="row kidDetailsForms">
         <p class="mainTitle">PEDIATRICS</p>
         <form enctype="multipart/form-data" method="POST" action="{% url 'littleStar:pediatrics' %}"
            novalidate>
            {% csrf_token %}
            <div class="col-lg-12 pediatricsFormHolder">
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">General Apperance</label> {{ pediatricsForm.generalApperance }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.generalApperanceRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Scalp And Skin</label> {{ pediatricsForm.scalpandskin }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.scalpandskinRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Lymph Nodes</label> {{ pediatricsForm.lymphNodes }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.lymphNodesRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Neck</label> {{ pediatricsForm.neck }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.neckRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Ears</label> {{ pediatricsForm.ears }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.earsRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Nose</label> {{ pediatricsForm.nose }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.noseRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Throat And Oral Cavities</label> {{ pediatricsForm.throatAndOralCavity }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.throatAndOralCavityRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Cardio Vascular System</label> {{ pediatricsForm.cardioVascularSystem }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.cardioVascularSystemRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Respiratory System</label> {{ pediatricsForm.respiratatorySystem }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.respiratatorySystemRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Abdomen</label> {{ pediatricsForm.abdomen }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.abdomenRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Upper and Lower Extremities</label> {{ pediatricsForm.upperAndLowerExtremities }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.upperAndLowerExtremitiesRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">Spine Gait and Posture</label> {{ pediatricsForm.spineGaitAndPosture }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.spineGaitAndPostureRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12 optionsOne">
                     <label for="exampleInputName2">High Mental Posture</label> {{ pediatricsForm.higherMentalPosture }} 
                  </div>
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Remarks</label> {{ pediatricsForm.higherMentalPostureRemarks }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group col-lg-12">
                     <label for="exampleInputEmail2">Pediatric Recommendations</label> {{ pediatricsForm.pediatricRecommendations }} 
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="input-field" style="display: none;">
                     <label for="id_kidUid">childuid:</label>
                     <input type="text" name="childuid" required="" id="id_kidUid" maxlength="245"> 
                  </div>
               </div>
            </div>
            <button type="submit" name="" class="loginSubmit">Create </button> 
         </form>
      </div>
   </div>

</div>
{% endblock %}